:root{
    --nightblue: rgb(44, 62, 80);
    --aqua: rgb(26, 188, 156);
}

ul,
li,
menu{
    list-style: none;
}

.mp_list{
    display: flex;
}

img {
    max-width: 100%;
}

html{
    color: white;
    text-transform: uppercase;
}

.main-header{
    background-color: var(--nightblue);
}

.top_row{
    justify-content: space-between;
    align-items: center;
}

.start,
.about{
    background-color: var(--aqua);
}

.star::before,
.star::after{
  content: '';
  display: inline-block;
  width: 170px;
  height: 3px;
  background-color: white;
  border-radius: 50px;
}

.title_bl{
    color: rgb(19, 16, 16);
}

.star_bl{
    color: var(--nightblue);
}

.mp_card{
    padding: 30px;
    border-radius: 20px;
    background-color: pink;
}


/* debug */

[class^='container']{
    border: 2px solid salmon;
}

[class^='col'] {
	padding: 10px;
	background-color: cornflowerblue;
	color: white;
	border: 3px solid green;
}


