:root{
    --nightblue: rgb(44, 62, 80);
    --aqua: rgb(26, 188, 156);
}

ul,
li,
menu{
    list-style: none;
}

.mp_list{
    display: flex;
}

img {
    max-width: 100%;
}

html{
    text-transform: uppercase;
}

.main-header{
    background-color: var(--nightblue);
}

.hero,
.about{
    background-color: var(--aqua);
    color: white;
}

.star::before,
.star::after{
  content: '';
  display: inline-block;
  width: 170px;
  height: 3px;
  background-color: currentColor;
  border-radius: 50px;
}

.title_bl{
    color: rgb(19, 16, 16);
}

.mp_card{
    border-radius: 20px;
}

.text-start{
    text-transform: none;
}

.border-bottom-input {
    border-bottom:1px solid rgb(159, 154, 154);
  }

.noborder{
    border: 0;
}





